*{
    padding: 0;
    margin: 0;
  }
  
  header {
    background-color: rgba(102, 100, 100, 0.295);
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    color: white;
    font-family: 'Monda', sans-serif;
    align-items: center;
    position: fixed;
    top: 0%;
    width: 100%;
    border-bottom: 2px solid white;
  }
  
  #logo-trybe {
    width: 70px;
    height: 20px;
    align-items: center;
  }
  
  #menu{
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  #menu li {
  margin-right: 20px;
  padding: 5px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  #menu li:hover, a:hover {
    opacity: 40%;
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 25px;
  }
  
  /* -------------------------------- RODAPE --------------------------------- */
  #rodape {
    border-top: 1px solid rgb(248, 248, 248);
    font-family: monospace;
    padding: 15px;
    font-size: 16px;
    color: rgb(223, 223, 223);
    background-color: rgba(141, 141, 141, 0.082);
  }
  
  #habilidades-aluno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding-top: 80px;
    font-family: 'Monda', sans-serif;
    color: grey;
  }
  
  .conteudo-texto-aluno {
    margin-bottom: 100px;
  }
  
  hr {
    background-color: grey;
    width: 200px;
    height: 1px;
    margin-bottom: 30px;
  }
  
  @media screen and (max-width: 540px){
  header{
    font-size: 0.5em;
  }
  
  .conteudo_apresentacao {
    flex-direction: column;
    align-items: center;
  }

  /* -------------------------------- RODAPE --------------------------------- */
  #rodape {
    font-size: 10px;
  }
  
  }