* {
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
	line-height: 120%;
}

/* PARTE JOGO */
body {
	background: linear-gradient(to right, #00796B, #b1e2dc);
	background-size: cover;
	color: rgb(97, 97, 97);
}

.ball {
	border: 2px solid black;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: inline-block;
}

#container-geral {
	text-align: center;
	padding: 20px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: white;
	border-radius: 25px;
	border: 4px solid black;
	margin: 20px;
	margin-top: 80px;
}

#title {
	font-size: 26px;
	margin:50px 0px;
}

#rgb-color {
	font-size: 30px;
	margin-bottom: 80px;
}

#score {
	font-size: 24px;
	margin-bottom: 80px;
	border: 3px solid black;
	border-radius: 20px;
	font-family: monospace;
	padding: 10px;
}

#guess-section {
	margin-bottom: 80px;
}

#answer {
	margin-bottom: 80px;
	font-size: 26px;
	color: rgb(139, 133, 133);
}

#reset-game {
	border: none;
	background-color: #536DFE;
	font-size: 18px;
	padding: 20px;
	border-radius: 25px;
	color: white;
	margin-bottom: 50px;
}

.ball:hover {
	cursor: pointer;
	opacity: 90%;
}

#reset-game:hover {
	background-color: #98a3e0;
	cursor: pointer;
}

#score-title {
	font-size: 28px;
	margin-bottom: 30px;
}